@model IEnumerable<Garage_2.Models.ParkedVehicle>


@{
    ViewData["Title"] = "Search Vehicles";
}




<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0 title">Search vehicles</h1>
    </div>


    <form asp-action="Search" class="mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           name="licensePlate"
                           placeholder="Search for license plate" />
                    <button class="btn btn-outline-secondary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>



    <!--

    https://github.com/Lexicon-NET-2025-HT/MVCIntro/blob/master/MVCIntro/Views/Employees/Index2.cshtml

    -->
    @if (!Model.Any())
    {
        <p class="text-muted">No vehicles found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.VehicleType)</th>
                    <th>@Html.DisplayNameFor(m => m.LicensePlate)</th>
                    <th>@Html.DisplayNameFor(m => m.Color)</th>
                    <th>@Html.DisplayNameFor(m => m.Manufacturer)</th>
                    <th>@Html.DisplayNameFor(m => m.Model)</th>
                    <th>@Html.DisplayNameFor(m => m.CheckInTime)</th>
                    <th>@Html.DisplayNameFor(m => m.CheckOutTime)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.VehicleType)</td>
                        <td>@Html.DisplayFor(modelItem => item.LicensePlate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Color)</td>
                        <td>@Html.DisplayFor(modelItem => item.Manufacturer)</td>
                        <td>@Html.DisplayFor(modelItem => item.Model)</td>
                        <td>@Html.DisplayFor(modelItem => item.CheckInTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.CheckOutTime)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>